body {
    font-family: Arial, sans-serif;
    
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('background.jpg');

    
    

     

}



h1 {
    margin-top: 2%;
    color: #333;
}

.form-container {
    width: 350px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.form-group {
    
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 10px;
    font-size: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: 30%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: black;
}

.row-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.row-style p {
    margin: 0;
    font-size: 16px;
}

.row-style button {
    flex-shrink: 0;
}


